{{#useOas3}}
{{#allowableValues}}schema=@Schema(allowableValues={ {{#values}}"{{{.}}}"{{^@last}}, {{/@last}}{{/values}}{{^values}}{{/values}} }{{#min}}, minimum="{{.}}"{{/min}}{{#max}}, maximum="{{.}}"{{/max}}){{/allowableValues}}
{{/useOas3}}