{{#lombokData}}@Data{{/lombokData}}
public class {{beanParamName}} {

{{#queryParams}}{{>queryParams}};
{{/queryParams}}
{{#headerParams}}{{>headerParams}};
{{/headerParams}}
{{#pathParams}}{{>pathParams}};
{{/pathParams}}
{{#formParams}}{{>formParams}};
{{/formParams}}
}