{{#is this 'header-param'}}{{#useBeanValidation}}{{>beanValidationQueryParams}}{{/useBeanValidation}} @HeaderParam("{{baseName}}"){{#defaultValue}} @DefaultValue("{{{defaultValue}}}"){{/defaultValue}}{{#useOas3}}{{#description}} @Parameter(description = "{{description}}"){{/description}} {{/useOas3}}{{{dataType}}} {{paramName}}{{/is}}