{{#is this 'path-param'}}{{#useBeanValidation}}{{>beanValidationPathParams}} {{/useBeanValidation}}@PathParam("{{baseName}}"){{#useOas3}}{{#description}} @Parameter(description = "{{description}}"){{/description}} {{/useOas3}} {{{dataType}}} {{paramName}}{{/is}}