package {{package}};

{{#apiInterfaceDoc}}
import org.eclipse.microprofile.openapi.annotations.Operation;
import org.eclipse.microprofile.openapi.annotations.enums.SchemaType;
import org.eclipse.microprofile.openapi.annotations.media.Content;
import org.eclipse.microprofile.openapi.annotations.media.Schema;
import org.eclipse.microprofile.openapi.annotations.parameters.Parameter;
import org.eclipse.microprofile.openapi.annotations.responses.APIResponse;
import org.eclipse.microprofile.openapi.annotations.responses.APIResponses;
{{/apiInterfaceDoc}}
{{#imports}}import {{import}}; {{/imports}}

import javax.ws.rs.*;
import javax.ws.rs.core.Response;

{{#lombokData}}import lombok.Data;{{/lombokData}}

import java.util.Map;
import java.util.List;
{{#useBeanValidation}}
import javax.validation.constraints.*;
import javax.validation.Valid;
{{/useBeanValidation}}

@Path("/{{{baseName}}}"){{#hasConsumes}}
@Consumes({ {{#consumes}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/consumes}} }){{/hasConsumes}}{{#hasProduces}}
@Produces({ {{#produces}}"{{{mediaType}}}"{{#hasMore}}, {{/hasMore}}{{/produces}} }){{/hasProduces}}
{{#annotations}}@{{{.}}}
{{/annotations}}
{{>generatedAnnotation}}public interface {{classname}} {
{{#operations}}
{{#operation}}
{{#contents}}

{{>apiInterface}}

{{/contents}}
{{/operation}}
}
{{/operations}}