{{#jackson}}import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;
import com.fasterxml.jackson.annotation.JsonProperty;{{/jackson}}
{{#jsonb}}import javax.json.bind.annotation.JsonbProperty;{{/jsonb}}

{{#description}}
/**
* {{description}}
**/{{/description}}
public enum {{classname}} {
    {{#allowableValues}}
    {{#enumVars}}
    {{#jackson}}@JsonProperty({{{value}}}){{/jackson}}{{#jsonb}}@JsonbProperty({{{value}}}){{/jsonb}}
    {{{name}}}{{^@last}},{{/@last}}{{#@last}};{{/@last}}

    {{/enumVars}}
    {{/allowableValues}}
}

