{{#is this 'query-param'}}{{#useBeanValidation}}{{>beanValidationQueryParams}} {{/useBeanValidation}}@QueryParam("{{baseName}}"){{#defaultValue}} @DefaultValue("{{{defaultValue}}}") {{/defaultValue}}{{{dataType}}} {{paramName}}{{/is}}